---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <script is:inline slot="head" src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <div id="content-wrapper">

        <div class="container-above-header">

        </div>

        <div class="blocks-container">

            <div class="block type-10">
                <div class="container about">
                    <div class="row wow fadeInDown" style="visibility: hidden; animation-name: none;">
                        <img class="img_contact" alt="" src="/img/contact-bg.png" width="100%;">
                        <img class="img_contact2" alt="" src="/img/contact-bg2.png" width="100%;">
                    </div>
                </div>
            </div>

            <!-- BLOCK "TYPE 3" -->
            <div class="block type-3">
                <div class="container">

                    <div class="block-header">
                        <div class="title">연락 정보 </div>
                        <div class="text" style="margin-top: 10px;">저에게 연락하시려면 카카오톡 친구 추가 또는 아래를 참고하세요.</div>
                        <a href="javascript:void addPlusFriend()">
                            <img src="https://developers.kakao.com/assets/img/about/logos/plusfriend/friendadd_small_yellow_rect.png"/>
                        </a>
                    </div>
                    <div class="row">
                        <div class="icon-entry col-sm-4 wow fadeInLeft animated" data-wow-delay="0.3s"
                             style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <img class="img-circle" alt="" src="/img/icon-120.png">
                            <div class="content">
                                <h3 class="title">근무지</h3>
                                <div class="text">REMOVED  <br> REMOVED <br> NAVER</div>
                            </div>
                        </div>
                        <div class="icon-entry col-sm-4 wow fadeInUp animated" data-wow-delay="0.4s"
                             style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <img class="img-circle" alt="" src="/img/icon-121.png">
                            <div class="content">
                                <h3 class="title">연락처</h3>
                                <div class="text"><b>사무실:</b> REMOVED <br> <b>Mobile:</b> REMOVED
                                </div>
                            </div>
                        </div>
                        <div class="icon-entry col-sm-4 wow fadeInRight animated" data-wow-delay="0.3s"
                             style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                            <img class="img-circle" alt="" src="/img/icon-122.png">
                            <div class="content">
                                <h3 class="title">Email</h3>
                                <div class="text"><b>회사메일:</b> leebokeum87@gmail.com <br> <b>Gmail:</b> leebokeum87@gmail.com
                                    <br> <b>Hanmail:</b> leebokeum@hanmail.net
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- BLOCK "TYPE 18" -->
            <div class="block">
                <div class="container">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1 wow fadeInUp animated"
                             style="visibility: visible; animation-name: fadeInUp;">
                            <div class="form-block">
                                <img class="img-circle form-icon" src="/img/icon-123.png" alt="">

                                <div class="form-wrapper">
                                    <div class="row">
                                        <div class="block-header col-md-8 col-md-offset-2">
                                            <h2 class="title">메시지 남기기
                                                <a href="javascript:void plusFriendChat()">
                                                    <img src="https://developers.kakao.com/assets/img/about/logos/plusfriend/consult_small_yellow_pc.png"/>
                                                </a>
                                            </h2>

                                            <div class="text">카카오톡 1:1 채팅 또는 아래 이메일 · SNS로 연락해 주세요</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 text-center">
                                            <div class="text" style="margin-bottom: 15px;">
                                                <b>Email:</b> <a href="mailto:leebokeum87@gmail.com">leebokeum87@gmail.com</a>
                                            </div>
                                            <ul class="list-inline text-center">
                                                <li><a href="https://twitter.com/leebokeum87" target="_blank" class="twitter"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                                                <li><a href="https://www.facebook.com/leebokeum87" target="_blank" class="facebook"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                                                <li><a href="https://github.com/leebokeum" target="_blank" class="github"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" is:inline slot="scripts">
        //<![CDATA[
        // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('ecd00a5c80333685992c68be5a531f0a');

        function addPlusFriend() {
            Kakao.PlusFriend.addFriend({
                plusFriendId: '_xfxiZVj' // 플러스친구 홈 URL에 명시된 id로 설정합니다.
            });
        }

        function plusFriendChat() {
            Kakao.PlusFriend.chat({
                plusFriendId: '_xfxiZVj' // 플러스친구 홈 URL에 명시된 id로 설정합니다.
            });
        }

        //]]>
    </script>
    <script type="text/javascript" is:inline slot="scripts">
        $(function () {
            $(".menu-entry").eq(3).addClass("active");
        });
    </script>
</BaseLayout>
